* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #8ac6ff;
}

.ChooseDifficulty {
  text-align: center;
  margin: auto;
}

.Game {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

.Card {
  margin: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.Card img {
  padding: 20px;
  height: 100px;
}
